@import "../../styles";

.about-us{
  .text {
    .box_text{
      border-radius: 25px;
      border: dashed orange;
      padding: 25px;
      margin: 25px;
    }
    .title{
      text-align: center;
      font-style: italic;
      font-size: 32px;
      padding-left: 40px;
      font-weight: 700;
    }
    .before_title_text {
      line-height: 30px;
    }
  }
}
@include big-display{
  .about-us{
    .text{
      p{
        font-size: 20px;
      }
    }
  }
}
@include small-display{
  .about-us{
    .text{
      .title, h3, p{
        padding-left: 10px;
      }
    }
  }
}
