<br>
<section class="about-us container">
  <div class="text justify-content-center">
    <div class="box_text">
      <h1 class="title">О нас</h1>
      <p class="before_title_text">
        В этом блоке мы рекомендуем разместить информацию о Вашей организации,
        подчеркнуть ее значимость и надежность на рынке оказываемых услуг или предлагаемых товаров.
        Примечание. Обращаем Ваше внимание, что текстовая информация на сайте должна быть индивидуальной,
        не скопированной с других интернет-ресурсов, о чем указано в рекомендациях Яндекса:
        «Мы стараемся не индексировать или не ранжировать высоко сайты, копирующие информацию с других ресурсов и не создающие оригинального контента или сервиса».
      </p>
    </div>
    <div class="box_text">
      <h3 class="title">Пример заполнения страницы:</h3>
      <p class="before_title_text">
        Вас приветствует компания «…» 'введите название компании'!
        …'введите название компании'  — динамично развивающаяся компания в области/сфере … 'укажите сферу деятельности'.
        Мы рады предложить вам широкий спектр услуг по … 'укажите предлагаемые услуги' по самым выгодным ценам. или
        Мы рады предложить вам широкий ассортимент … 'укажите предлагаемые товары' по самым выгодным ценам.
        Вот уже … 'укажите компании работы стаж' лет наша компания занимает уверенные позиции на рынке и предоставляет только самые современные решения,
        позволяя нашим клиентам делать заказы через сайт.
        За годы успешной работы компания … 'введите название компании' приобрела бесценный опыт, о чем свидетельствуют лестные отзывы наших клиентов.
        В случае если у Вас возникли вопросы при оформлении заказа, Вы всегда можете обратиться в наш справочный центр по телефону …
        'укажите номер телефона' или воспользовавшись онлайн-консультантом на сайте.
      </p>
    </div>
  </div>
</section>
