<br>
<section class="container contacts">
  <h6 class="title">Контакты</h6>
  <div class="info">
    <p class="text">
      Телефон<br>
      + 7 (123) 123-45-67
    </p>
    <p class="text">
      Прием звонков:<br>
      с 9:00 до 20:00 (Пн-Пт)
    </p>
    <p class="text">
      Адрес<br>
      123456, Россия, Москва, Тверская., 17, офис 123. Местный телефон: 101
    </p>
    <p class="text">
      Реквизиты компании<br>
      ООО «Название компании» Юридический адрес: 123456, Россия, Москва, Тверская 127 ОГРН 12345632154654
    </p>
  </div>
</section>
