<nav class="navbar navbar-light">
  <div class="nav mb-3 info-company-work">
    <a class="navbar-brand" href="#">
      <img src="../../assets/logo.PNG" alt="" width="100" height="100" class="d-inline-block align-text-top">
    </a>
    <div class="col logo">
      <div class="row">
        <input class="form-control mr-1 edit-input" *ngIf="isEdit" [(ngModel)]="companyName" placeholder="Название компании">
        <h1 *ngIf="!isEdit">{{companyName}}</h1>
        <button class="btn btn-outline-danger" (click)="EditNavInfo(); isEdit = !isEdit" *ngIf="isAdmin()">Изменить</button>
      </div>
      <div class="row">
        <h2>Продажа туров</h2>
      </div>
    </div>
    <div class="row align-items-center" style="margin-right: 30px" *ngIf="!SmallScreen()">
      <div class="col-ml px-5">
        <h3><bi name="geo-alt-fill"></bi>Адрес</h3>
        <input class="form-control mr-1 edit-input" *ngIf="isEdit" [(ngModel)]="address" placeholder="Адрес">
        <span *ngIf="!isEdit">{{address}}</span>
      </div>
      <div class="col-ml px-5" *ngIf="!MiddleScreen()">
        <h3><bi name="telephone"></bi>Телефон</h3>
        <input class="form-control mr-1 edit-input" *ngIf="isEdit" [(ngModel)]="telephone" placeholder="Телефон">
        <span *ngIf="!isEdit">{{telephone}}</span>
      </div>
      <div class="col-ml px-5" *ngIf="!BigScreen()">
        <h3><bi name="alarm"></bi>Часы работы</h3>
        <input class="form-control mr-1 edit-input" *ngIf="isEdit" [(ngModel)]="timeWork" placeholder="Часы работы">
        <span *ngIf="!isEdit" class="justify-content-center">{{timeWork}}</span>
      </div>
    </div>
  </div>
</nav>
<nav class="nav shadow-sm justify-content-center bg-primary" id="sidebar">
  <ul class="nav nav-tabs">
    <li class="d-inline-block">
      <a class="nav-link" routerLink="/">Главная</a>
    </li>
    <li class="d-inline-block">
      <a class="nav-link" routerLink="/about-us">О нас</a>
    </li>
    <li class="d-inline-block" ngbDropdown>
      <a class="nav-link" ngbDropdownToggle>
        Туры
      </a>
      <ul ngbDropdownMenu aria-labelledby="Tours">
        <li *ngFor="let tour of tours"><a ngbDropdownItem routerLink="tour/{{tour.id}}">{{tour.title}}</a></li>
      </ul>
    </li>
    <li class="d-inline-block">
      <a class="nav-link" routerLink="/news">Новости</a>
    </li>
    <li class="d-inline-block">
      <a class="nav-link" routerLink="/contacts">Контакты</a>
    </li>
  </ul>
  <form class="d-flex">
    <input class="form-control mr-1" type="search" placeholder="Поиск туров" aria-label="Поиск">
    <button class="btn btn-warning" type="submit">Поиск</button>
  </form>
</nav>


