@import "../../styles";

.main{
  background-image: url("http://online.premiumbank.az/assets/images/clouds.png");
}


.slider1{
  background: url("https://bayguzin.ru/demo2019/trabble/images/bgimage/countbg.jpg") left 50% top 50%;
  width: 100% !important;
  height:550px;
  .row{
    margin-left: 50px;
    padding-top: 200px;
  }
  p, h1{
    font-weight: 600;
    color: white;
  }
  p {
    font-size: 25px;
  }
  h1{
    font-size: 45px;
  }
}


