<section class="main">
  <section class="slider1">
    <div class="row align-items-center">
      <div class="col">
        <h1>Продажа туров</h1>
        <p>Описание акции или другая дополнительная информация</p>
        <button class="btn btn-warning" routerLink="/about-us">Подробнее</button>
      </div>
    </div>
  </section>
  <br>
  <br>
  <section class="container">
    <app-cards-tour></app-cards-tour>
  </section>
  <br>
  <section class="container">
    <app-cards-discount></app-cards-discount>
  </section>
</section>
