@import "../../styles";
.tours{
  .title{
    text-align: center;
  }
}
#uploadFileInput{
  visibility: hidden;
}

.preview{
  display: flex;
  flex-wrap: wrap;
  padding: .8rem;
}
.preview-image{
  margin-bottom: .5rem;
  margin-right: .5rem;
  img{
    width: 180px;
    height: auto;
  }
}
.form-group.hidden {
  width: 0;
  margin: 0;
  border: none;
  padding: 0;
}
.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}
.custom-day.focused {
  background-color: #e6e6e6;
}
.custom-day.range, .custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
}
.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}
@include big-display{
  .card{
    .card-body {
      p, a{
        font-size: 18px;
      }
      h4{
        font-size: 24px;
      }
    }
  }
}
@include small-display{
  .card{
    width: 100%!important;
  }
}
