<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Ошибка!</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>{{problemsMessage}}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Close')">Close</button>
  </div>
</ng-template>
<nav class="nav shadow-sm justify-content-center bg-info" id="sidebar" *ngIf="isAuth">
  <ul class="nav nav-tabs">
    <li class="d-inline-block">
      <a class="nav-link" (click)="placeNull(); isShowingMain = true">Главная</a>
    </li>
    <li class="d-inline-block">
      <a class="nav-link" (click)="placeNull(); isShowingTour = true">Туры</a>
    </li>
    <li class="d-inline-block">
      <a class="nav-link" (click)="placeNull(); isShowingNews=true">Новости</a>
    </li>
    <li class="d-inline-block">
      <a class="nav-link" (click)="placeNull(); isShowingDiscount=true">Скидки</a>
    </li>
  </ul>
</nav>
<br>
<div class="container justify-content-center" *ngIf="!isAuth">
  <h2 class="title">Вход: </h2>
  <div class="mb-3">
    <label for="Name" class="form-label">Имя</label>
    <input type="email" class="form-control" [(ngModel)]="Name" id="name" placeholder="name">
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Пароль</label>
    <input type="email" class="form-control" [(ngModel)]="Password" id="password" placeholder="password">
  </div>
  <div class="mb-3">
    <button class="btn btn-outline-secondary" (click)="auth()">Войти</button>
  </div>
</div>
<section class="admin-panel container" *ngIf="isAuth">
  <div class="cards" *ngIf="isShowingMain">
    <h1 class="title">Главное меню</h1>
  </div>
  <div *ngIf="isShowingTour" class="creating-tour">
    <h1 class="title">Создание тура</h1>
    <div class="mb-3">
      <label for="title-card" class="form-label">Название</label>
      <input type="email" [(ngModel)]="titleNewTour" class="form-control" id="title-card">
    </div>
    <div class="mb-3">
      <label for="text-card" class="form-label">Краткое описание</label>
      <textarea class="form-control" [(ngModel)]="textNewTour" id="text-card" rows="2"></textarea>
    </div>
    <div class="mb-3">
      <label for="allText-card" class="form-label">Полное описание</label>
      <quill-editor [(ngModel)]="allTextNewTour" id="allText-card"></quill-editor>
    </div>
    <div class="mb-3">
      <mat-checkbox class="example-margin" [(ngModel)]="isHotTour" id="flexCheckDefault">Это горячий тур?</mat-checkbox>
    </div>
    <div class="mb-3">
      <button class="btn btn-warning" (click)="inputTours.click()">Загрузить фотографию</button>
      <input [type]="'file'" #inputTours (change)="uploadEvent($event)" class="uploadFileInput" [accept]="'.png,.jpeg,.jpg'">
      <div class="preview" id="preview" >
        <div class="preview-image" *ngFor="let img of uploadFileSRC">
          <div class="preview-remove" (click)="removeEvent(img.name)">&times;</div>
          <img src="{{img.src}}" alt="{{img.name}}">
          <div class="preview-info">
            <span>{{img.name}}</span>
            {{img.size}}
          </div>
        </div>
      </div>
    </div>
    <div class="mb-3">
      <label for="dateTour" class="form-label">Тур действует от и до:</label>
      <form class="form-inline" id="dateTour">
        <div class="form-group hidden">
        <div class="input-group">
          <input name="datepicker" class="form-control" ngbDatepicker #datepicker="ngbDatepicker" [autoClose]="'outside'"
                 (dateSelect)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t" outsideDays="hidden" [startDate]="fromDate!" tabindex="-1">
          <ng-template #t let-date let-focused="focused">
        <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)" [class.faded]="isHovered(date) || isInside(date)"
              (mouseenter)="hoveredDate = date" (mouseleave)="hoveredDate = null">
          {{ date.day }}
        </span>
          </ng-template>
        </div>
      </div>
        <div class="form-group">
        <div class="input-group">
          <input #dpFromDate class="form-control" placeholder="yyyy-mm-dd" name="dpFromDate" [value]="formatter.format(fromDate)"
                 (input)="fromDate = validateInput(fromDate, dpFromDate.value)">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="datepicker.toggle()" type="button"></button>
          </div>
        </div>
      </div>
        <div class="form-group ml-2">
        <div class="input-group">
          <input #dpToDate class="form-control" placeholder="yyyy-mm-dd" name="dpToDate" [value]="formatter.format(toDate)"
                 (input)="toDate = validateInput(toDate, dpToDate.value)">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="datepicker.toggle()" type="button"></button>
          </div>
        </div>
      </div>
      </form>
    </div>
    <button class="btn btn-success" (click)="addNewTour()">Создать</button>
  </div>
  <br>
  <div *ngIf="isShowingNews" class="creating-news">
    <h1 class="title">Создание новости</h1>
    <div class="mb-3">
      <label for="titleNews-card" class="form-label">Название</label>
      <input type="email" [(ngModel)]="titleNewNews" class="form-control" id="titleNews-card">
    </div>
    <div class="mb-3">
      <label for="textNews-card" class="form-label">Краткое описание</label>
      <textarea class="form-control" [(ngModel)]="textNewNews" id="textNews-card" rows="2"></textarea>
    </div>
    <div class="mb-3">
      <label for="allTextNews-card" class="form-label">Полное описание</label>
      <quill-editor [(ngModel)]="allTextNewNews" id="allTextNews-card"></quill-editor>
    </div>
    <div class="mb-3">
      <button class="btn btn-warning" (click)="inputNews.click()">Загрузить фотографию</button>
      <input [type]="'file'" #inputNews (change)="uploadEvent($event, true)" class="uploadFileInput" [accept]="'.png,.jpeg,.jpg'">
      <div class="preview">
        <div class="preview-image" *ngFor="let img of uploadFileSRCNews">
          <div class="preview-remove" (click)="removeEvent(img.name, true)">&times;</div>
          <img src="{{img.src}}" alt="{{img.name}}">
          <div class="preview-info">
            <span>{{img.name}}</span>
            {{img.size}}
          </div>
        </div>
      </div>
    </div>
    <div class="mb-3">
      <label for="calendar" class="form-label">Дата</label>
      <form class="form-inline" id="calendar">
        <div class="form-group">
          <div class="input-group">
            <input class="form-control" placeholder="yyyy-mm-dd"
                   name="dp" [(ngModel)]="dateNewNews" ngbDatepicker #d="ngbDatepicker">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <button class="btn btn-success" (click)="addNewNews()">Создать</button>
  </div>
  <br>
  <div *ngIf="isShowingDiscount" class="creating-discount">
    <h1 class="title">Создание скидки</h1>
    <div class="mb-3">
      <label for="titleDiscount-card" class="form-label">Название</label>
      <input type="email" [(ngModel)]="titleNewDiscount" class="form-control" id="titleDiscount-card">
    </div>
    <div class="mb-3">
      <label for="textDiscount-card" class="form-label">Краткое описание</label>
      <textarea class="form-control" [(ngModel)]="textNewDiscount" id="textDiscount-card" rows="2"></textarea>
    </div>
    <div class="mb-3">
      <label for="allTextDiscount-card" class="form-label">Полное описание</label>
      <quill-editor [(ngModel)]="allTextNewDiscount" id="allTextDiscount-card"></quill-editor>
    </div>
    <div class="mb-3">
      <label for="calendarDiscount" class="form-label">Дата</label>
      <form class="form-inline" id="calendarDiscount">
        <div class="form-group">
          <div class="input-group">
            <input class="form-control" placeholder="yyyy-mm-dd"
                   name="dp" [(ngModel)]="dateNewDiscount" ngbDatepicker #de="ngbDatepicker">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar" (click)="de.toggle()" type="button"></button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <button class="btn btn-success" (click)="addNewDiscount()">Создать</button>
  </div>
  <br>
  <div *ngIf="isShowingTour" class="cards">
    <h1 class="title">Все туры</h1>
    <app-cards-tour></app-cards-tour>
  </div>
  <br>
  <div *ngIf="isShowingNews" class="cards">
    <h1 class="title">Все новости</h1>
    <app-cards-news></app-cards-news>
  </div>
  <br>
  <div *ngIf="isShowingDiscount" class="cards">
    <h1 class="title">Все скидки</h1>
    <app-cards-discount></app-cards-discount>
  </div>
</section>
<br>
